!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge" http-equiv: "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1" name: "iewport"}
    %meta{content: "" name: "description"}
    %meta{content: "" name: "author"}
    %title Hello Musiny!
    %link{href: "#{static_path(@conn, "/css/app.css")}" rel: 'stylesheet'}
  %body
    #app.container
      = render @view_module, @view_template, assigns
    %script{src: "#{static_path(@conn, "/js/app.js")}"}
