@import "reset";

$sidebar-width: 200px;
$sidebar-box-shadow-color: #ccc;
$sidebar-background-color: rgba(207, 207, 207, 0.28);
$main-background-color:rgba(207, 207, 207, 0.14);

$main-width: 100px;
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.sidebar {
  order: 1;
  flex: 0 0 $sidebar-width;
  min-height: 100vh;
  background-color: $sidebar-background-color;
  box-shadow: 1px 1px 5px 0px $sidebar-box-shadow-color;
}

.main {
  order: 2;
  flex: 1 0 $main-width;
  
  background-color: $main-background-color;
}

.footer {
  height: 50px;
  padding-top: 20px;
  background-color: #000;
  color: #f0f0f0;
  text-align: center;
}

.powered-by {
}
