!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge" http-equiv: "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1" name: "iewport"}
    %meta{content: "" name: "description"}
    %meta{content: "" name: "author"}
    %title Hello Musiny!
    %link{href: "#{static_path(@conn, "/css/app.css")}" rel: 'stylesheet'}
  %body
    .container
      = form_tag @callback_url, method: "POST", class: "form form-horizontal" do
        .form-group
          %label.col-sm-2.control-label email
          .col-sm-10
            %input.form-control(type="email" name="email" placeholder="xxx@example.com")
        .form-group
          %label.col-sm-2.control-label email
          .col-sm-10
            %input.form-control(type="password" name="password" placeholder="your password here.")
        .form-group.text-center
          %button.btn.btn-primary(type="submit") Sign in
      - end
