/* This file is for your main application css. */
@import "./variables";
$font-size-base:  14px;
$font-size-small: 14px;

$padding-base-vertical:   4px;
$padding-base-horizontal: 6px;

$padding-large-vertical:    8px;
$padding-large-horizontal:  12px;

$padding-small-vertical:    4px;
$padding-small-horizontal:  6px;

$padding-xs-vertical:       2px;
$padding-xs-horizontal:     4px;

@import "./cosmo";

.wrapper {
  background-color: rgba(68, 16, 110, 0.9);
}


.app {
  background-color: rgba(68, 16, 110, 0.1);
  
  .sidebar {
    
  }
  
  .content {
    min-height: 800px;
    background-color: #fff;
  }
  
  .footer {
    background-color: #222;
    color: #f3f3f3;
    min-height: 63px;
  }
  
  .powered-by {
    padding-top: 21px;
  }
}
