!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge" http-equiv: "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1" name: "iewport"}
    %meta{content: "" name: "description"}
    %meta{content: "" name: "author"}
    %title Hello Musiny Admin!
    %link{href: "#{static_path(@conn, "/css/admin/admin.css")}" rel: 'stylesheet'}
  %body
    .container-fluid
      .col-sm-3.col-md-2.col-xs-12
        %ul.nav.nav-sidebar
          %li
            = link "Team", to: admin_team_path(@conn, :index)
      .col-sm-9.col-md-10.col-xs-12
        = render @view_module, @view_template, assigns
    %script{src: "#{static_path(@conn, "/js/admin/admin.js")}"}
