!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge" http-equiv: "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1" name: "iewport"}
    %meta{content: "" name: "description"}
    %meta{content: "" name: "author"}
    %title Hello Musiny Admin!
    %link{href: "#{static_path(@conn, "/css/app.css")}" rel: 'stylesheet'}
  %body
    .columns
      .column.is-2.side-menu
        .container
          %aside.menu
            %p.menu-label
              Menu Group
            %ul.menu-list
              %li 
                %a(href: "#")
                  Menu
              %li
                %a(href: "#")
                  Menu
            %p.menu-label
              Menu Group
            %ul.menu-list
              %li
                %a(href: "#")
                  Menu
              %li
                %a(href: "#")
                  Menu
      .column.is-offset-2
        %section
          = render @view_module, @view_template, assigns
    %script{src: "#{static_path(@conn, "/js/app.js")}"}
